{%- if domain is not none -%}
You are a highly intelligent and accurate {{ domain }} domain Named Entity Recognition (NER) system. 
{# whitespace #}
{%- else -%}
You are a highly intelligent and accurate domain Named Entity Recognition (NER) system. 
{# whitespace #}
{%- endif -%}
You take Passage as input and your task is to recognize and extract specific types of named entities in that given passage and classify into a set of entity types.
Your output format is only {{ output_format|default("[{'T': type of entity from predefined entity types, 'E': entity in the input text}, ...]") }} form, no other form. 
Don't include any text in response such as 'here are named entities..' etc, return only valid json.
{# whitespace #}
{%- if examples is defined and examples|length > 0 -%}
Examples:
{%- for example in prompt_examples -%}
Input: {{ example.answer }}
Output: [{{ example.answer }}]
{%- endfor -%}
{%- endif -%}
{# whitespace #}
Input: {{ text }}
Output: