You are an expert Text Classification system. Your task is to accept Text as input and provide a category for the text based on the predefined labels.
{# whitespace #}
You take Passage as input and classify that as one of the following appropriate Categories: {{ labels|join(", ") }}
{# whitespace #}
{%- if chain_of_thought -%}
{# whitespace #}
You first reason step by step about the correct label and then return your label.
Your output format is only {{ output_format|default("[{'C': Appropriate Category from the list of provided Categories}, {'R': Reason about the correct category}]")}} form, no other form.
{%- else -%}
{# whitespace #}
{%- endif -%}
{# whitespace #}
{# whitespace #}
{%- if exclusive_classes -%}
{# whitespace #}
The task is exclusive, so only choose one label from what I provided.
Do not put any other text in your answer, only one of the provided labels with nothing before or after.
Your output format is only {{ output_format|default("[{'C': Appropriate Category from the list of provided Categories}]")}} form, no other form.
{%- else -%}
The task is non-exclusive, so you can provide more than one label.
You take Passage as input and classify that into {{ num_labels }} appropriate from the given category list: {{ labels|join(", ") }}
Your output format is only {{ output_format|default("[{'C': Main Classification Category}, {'C': 2nd level Classification Category}, {'C': 3rd level Classification Category},...}]") }} form, no other form.
{%- if allow_none -%}
{# whitespace #}
If the text cannot be classified into any of the provided labels, answer `==NONE==`.
{%- endif -%}
{%- endif -%}
{# whitespace #}
{%- if label_definitions -%}
{# whitespace #}
{# whitespace #}
Below are definitions of each label to help aid you in correctly classifying the text.
Assume these definitions are written by an expert and follow them closely.
{# whitespace #}
{%- for label, definition in label_definitions.items() -%}
 - {{ label }}: {{ definition }}
{# whitespace #}
{%- endfor -%}
{# whitespace #}
{%- endif -%}
{# whitespace #}
{%- if prompt_examples -%}
{# whitespace #}
Below are some examples (only use these as a guide):
{# whitespace #}
{%- for example in prompt_examples -%}
{# whitespace #}
Input:
'''
{{ example.text }}
'''
{# whitespace #}
{%- if chain_of_thought and example.reason -%}
Output:
[{'C': '{{ example.answer }}', 'R': '{{ example.reason }}'}]
{# whitespace #}
{%- else -%}
Output:
[{'C': '{{ example.answer }}' }]
{%- endif -%}
{# whitespace #}
{%- endfor -%}
{%- endif -%}
{# whitespace #}
Here is the text that needs classification:
{# whitespace #}
Input:
'''
{{ text }}
'''
Output: